@model Project.MVC.Models.Ogrenci

<h2>Öğrenci Detayları</h2>
<div>
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Ad:</strong> @Model.Name</p>
    <p><strong>Soyad:</strong> @Model.Surname</p>
</div>
<a asp-action="Index">Geri Dön</a>
